/*
	Stylesheet to show the website properly on IE9

	Author: @xniko
	nikokallio.me
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			background-image: url('images/grad0-20.svg');
		}
		
	/* List */

		ul
		{
		}

			ul.social
			{
			}
			
				ul.social li a:before
				{
					background-image: url('images/grad0-20.svg');
				}